*.actual.json
*.class
*.diff.geojson
*.gcov
*.hexdump
!docs/snippets/0x0*/*.mlt.hexdump
*.log
*.new.geojson
.DS_Store
.cache/
.idea/
.kotlin
.venv
.vscode/
MODULE.bazel.lock
bazel-*
bin/
build/
coverage/
dist/
node_modules
site/
tmp/
