[workspace]
resolver = "3"
members = ["mlt", "mlt-nom", "wasm-test"]
exclude = ["mlt-nom/fuzz"]
default-members = ["mlt", "mlt-nom"]

[workspace.package]
repository = "https://github.com/nyurik/maplibre-tile-spec"
edition = "2024"
license = "MIT OR Apache-2.0"
keywords = ["maplibre", "tile", "mlt", "mvt"]
categories = ["science::geo"]
rust-version = "1.87.0"

[workspace.lints.rust]
unsafe_code = "forbid"
unused_qualifications = "warn"
dead_code = "allow"

[workspace.lints.clippy]
cargo = { level = "warn", priority = -1 }
pedantic = { level = "warn", priority = -1 }
multiple_crate_versions = "allow"  # 14
# TODO: fix these
cast_possible_truncation = "allow"  # 24
cast_possible_wrap = "allow"  # 20
too_many_lines = "allow"  # 4
missing_panics_doc = "allow"  # 4
missing_errors_doc = "allow"  # 4
must_use_candidate = "allow"

# TODO: Implements test-ignores. Remove once https://github.com/binary-banter/test-each-file/pull/21 is merged
[patch.crates-io]
test_each_file = { git = "https://github.com/CommanderStorm/test-each-file.git", rev = "b02720f7cd42bb4229904a56ccbc76fb8ad868af" }
