name: Rust CI

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'justfile'
      - 'rust/mod.just'
      - '.github/**'
      - 'rust/**'
      - 'test/**'
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: ./.github/actions/mlt-setup-java
      - uses: ./.github/actions/mlt-setup-rust
      - run: just -v rust::ci-check
      - run: just -v rust::ci-lint

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: ./.github/actions/mlt-setup-java
      - uses: ./.github/actions/mlt-setup-rust
      - run: just -v rust::ci-test

  fuzz:
    name: Fuzz ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: layer
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: ./.github/actions/mlt-setup-rust
        with: { toolchain: nightly }
      - run: just -v rust::ci-fuzz-build ${{ matrix.target }}
      # enable once we can reliably fuzz ourselves
      #- run: just -v rust::ci-fuzz-run ${{ matrix.target }}

  test-msrv:
    name: Test MSRV
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: ./.github/actions/mlt-setup-java  # generate MLT test files
      - uses: ./.github/actions/mlt-setup-rust
        with: { toolchain: msrv }
      - run: just -v rust::ci-test-msrv

  coverage:
    name: Code Coverage
    if: github.event_name != 'release' && github.repository_owner == 'maplibre'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: ./.github/actions/mlt-setup-java  # generate MLT test files
      - uses: ./.github/actions/mlt-setup-rust
      - uses: taiki-e/install-action@v2
        with: { tool: 'cargo-llvm-cov' }
      - name: Generate code coverage
        run: just -v rust::ci-coverage
      - name: Upload coverage to Codecov
        if: github.repository_owner == 'maplibre'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: rust/target/llvm-cov/codecov.info
      - run: just -v assert-git-is-clean

  test-publish:
    name: Code Coverage
    if: github.event_name != 'release' && github.repository_owner == 'maplibre'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: ./.github/actions/mlt-setup-rust
      - name: Generate code coverage
        run: just -v rust::test-publish
      - run: just -v assert-git-is-clean

  build-release-binaries:
    name: Build release binaries for ${{ matrix.target }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact_name: mlt-linux-x86_64.tar.gz
          # Requires mlt > fastpfor to support arm via the existing simde code
          # Currently, seems flaky
          #- os: ubuntu-22.04-arm
          #  target: aarch64-unknown-linux-gnu
          #  artifact_name: mlt-linux-aarch64.tar.gz
          # Requires mlt > fastpfor to support apple arm.
          #- os: macos-latest
          #  target: aarch64-apple-darwin
          #  artifact_name: mlt-macos-aarch64.tar.gz
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            artifact_name: mlt-windows-x86_64.zip
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: ./.github/actions/mlt-setup-rust
      - run: just -v rust::ci-build-release ${{ matrix.target }} ${{ matrix.artifact_name }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.artifact_name }}
          path: ${{ matrix.artifact_name }}

  # This job checks if any of the previous jobs failed or were canceled.
  # This approach also allows some jobs to be skipped if they are not needed.
  ci-passed-rust:
    needs: [ test, test-msrv, lint, build-release-binaries, test-publish ]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Result of the needed steps
        run: echo "${{ toJSON(needs) }}"
      - if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        run: exit 1

  # Release unpublished packages or create a PR with changes
  release-plz:
    needs: [ ci-passed-rust ]
    if: |
      always()
      && needs.ci-passed-rust.result == 'success'
      && github.event_name == 'push'
      && github.ref == 'refs/heads/main'
      && github.repository_owner == 'maplibre'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    concurrency:
      group: release-plz-${{ github.ref }}
      cancel-in-progress: false
    steps:
      - run: rustup update stable && rustup default stable
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v6.0.2
        with: { fetch-depth: 0, persist-credentials: false }
      - name: Publish to crates.io if crate's version is newer
        uses: release-plz/action@f708778669256143d984cce4b23592637532e040 # v0.5.127
        id: release
        with: { command: release, manifest_path: ./rust/Cargo.toml }
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PLZ_TOKEN }}
      - if: ${{ steps.release.outputs.releases_created == 'false' }}
        name: If version is the same, create a PR proposing new version and changelog for the next release
        uses: release-plz/action@f708778669256143d984cce4b23592637532e040 # v0.5.127
        with: { command: release-pr, manifest_path: ./rust/Cargo.toml }
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PLZ_TOKEN }}
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}

  upload-release-binaries:
    name: Upload release binaries to GitHub releases
    needs: [ release-plz ]
    if: ${{ needs.release-plz.outputs.releases_created == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: taiki-e/install-action@v2
        with: { tool: 'just' }
      - name: Get mlt version for release tag
        id: get_version
        shell: bash
        run: just -v rust::get-release-info mlt >> $GITHUB_OUTPUT
      - name: Download all artifacts
        uses: actions/download-artifact@v7
        with: { path: artifacts }
      - name: Add binaries to GitHub release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          tag_name: ${{ steps.get_version.outputs.tag }}
          files: |
            artifacts/**/*.tar.gz
            artifacts/**/*.zip
          fail_on_unmatched_files: true
