name: Manual TypeScript Version Bump

on:
  workflow_dispatch:
    inputs:
      release_type:
        type: choice
        description: 'Type of version bump'
        options:
          - major
          - minor
          - patch
          - premajor
          - preminor
          - prepatch
          - prerelease

jobs:
  js-bump-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: taiki-e/install-action@v2
        with: { tool: 'just,cargo-binstall' }

      - name: Update version, commit, and create tag
        working-directory: ts
        run: |
          npm version ${{ github.event.inputs.release_type }} --no-git-tag-version
          echo version="$(node -p "require('./package.json').version")" >> "$GITHUB_ENV"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          commit-message: bump @maplibre/mlt version to ${{ env.version }}
          branch: mlt-js-version-${{ env.version }}
          title: bump @maplibre/mlt version to ${{ env.version }}

      - run: just -v assert-git-is-clean
