name: Manual TypeScript Version Bump

on:
  workflow_dispatch:
    inputs:
      release_type:
        type: choice
        description: 'Type of version bump'
        options:
          - major
          - minor
          - patch
          - premajor
          - preminor
          - prepatch
          - prerelease

jobs:
  js-bump-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Update version, commit, and create tag
        working-directory: ts
        run: |
          npm version ${{ github.event.inputs.release_type }} --no-git-tag-version
          echo version="$(node -p "require('./package.json').version")" >> "$GITHUB_ENV"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          commit-message: bump @maplibre/mlt version to ${{ env.version }}
          branch: mlt-js-version-${{ env.version }}
          title: bump @maplibre/mlt version to ${{ env.version }}
