name: TypeScript - Release

permissions:
  id-token: write  # Required for trusted publishing
  contents: write

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  release-check:
    name: Check if version changed
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v6

      - name: Check if version has been updated
        id: check
        uses: EndBug/version-check@5102328418c0130d66ca712d755c303e93368ce2
        with:
          file-name: ts/package.json

      - run: just -v assert-git-is-clean

    outputs:
      publish: ${{ steps.check.outputs.changed }}

  release:
    name: Release
    needs: release-check
    if: ${{ needs.release-check.outputs.publish == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ts
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/mlt-setup-node

      - name: Get version
        run: |
          version="$(node -p "require('./package.json').version")"
          echo version="$version" >> "$GITHUB_ENV"
          if [[ "$version" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo prerelease=false >> "$GITHUB_ENV"
          else
            echo prerelease=true >> "$GITHUB_ENV"
          fi

      - name: Install
        run: npm ci

      - name: Build
        run: |
          npm run build

      - name: Merge license files into LICENSE.txt
        run: |
          {
            echo "===== MIT License ====="
            cat ../LICENSE-MIT
            echo
            echo "===== Apache License 2.0 ====="
            cat ../LICENSE-APACHE
          } > LICENSE.txt

      - name: Release (GitHub) - Create Draft
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          name: js-v${{ env.version }}
          tag_name: js-v${{ env.version }}
          prerelease: ${{ env.prerelease }}
          draft: true

      - name: Publish npm package
        run: |
          npm publish --access=public

      - name: Publish GitHub release (remove draft)
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          tag_name: js-v${{ env.version }}
          name: js-v${{ env.version }}
          draft: false

      - run: cd .. && just -v assert-git-is-clean
